@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@font-face {
  font-family: 'QTKooper';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/QTKooper.otf') format('opentype');
}
